	<p id="notice"><%= notice %></p>

	<p>
	  <strong>A1:</strong>
	  <%= @contr.a1 %>
	</p>

	<p>
	  <strong>A2:</strong>
	  <%= @contr.a2 %>
	</p>

	<%= link_to 'Edit', edit_contr_path(@contr) %> |
	<%= link_to 'Back', contrs_path %>